<mat-toolbar color="primary">
  <span *ngFor="let category of categories">
    <a (click)="scrollToCategory(category.strCategory)" style="color: inherit; text-decoration: none;">
      <button>{{category.strCategory}}</button>
    </a>
  </span>
</mat-toolbar>

<div class="container">
  <mat-card *ngFor="let category of categories" [id]="category.strCategory">
    <mat-card-header>
      <mat-card-title>{{category.strCategory}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let meal of mealsByCategory[category.strCategory]">
          <img [src]="meal.strMealThumb" [alt]="meal.strMeal">
          <mat-grid-tile-footer>{{meal.strMeal}}</mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
