.container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 16px;
}

mat-grid-list {
  width: 100%;
}

mat-grid-tile {
  border: 2px solid rgba(0, 0, 0, 0.12);
  flex-basis: calc(25% - 16px);
  margin-right: 96px;
  margin-bottom: 16px;
}

mat-grid-tile img {
  max-width: 100%;
  height: auto;
}
mat-grid-tile:not(:last-child) {
  margin-right: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
mat-toolbar {
  display: flex;
  justify-content: center;
  border-top: 30px solid white;
}

mat-toolbar span {
  display: inline-flex;
  margin: 0 4px;
}

mat-toolbar button {
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

mat-toolbar button:hover {
  background-color: #3f51b5;
  color: white;
}
mat-toolbar-row, mat-toolbar-single-row{
padding: 30px 16px;
}
.recipe-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
mat-grid-tile {
  cursor: pointer;
}
.image_reduit{
  width: 220px;
  margin-left: 35%;
}
