<main class="form-signin">

  <h1 class="mat-h1">Sign up</h1>

  <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">

      <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="name" placeholder="Sreya Saha" formControlName="name">
          <mat-error *ngIf="signUpForm.controls.name.errors != null && signUpForm.controls.name.touched">What's your name?</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" (click)="hideResponseErrors()">
          <mat-label>Email address</mat-label>
          <input matInput type="email" placeholder="name@example.com" formControlName="email" [ngClass]="{'error-border': !isHideResponseErrors && errorObj.signUp.email != null}">
          <mat-error *ngIf="signUpForm.controls.email.errors != null && signUpForm.controls.email.touched">Please enter a valid email.</mat-error>
          <mat-error *ngIf="!isHideResponseErrors && errorObj.signUp.email != null">{{errorObj.signUp.email}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" name="password" formControlName="password">
          <mat-error *ngIf="signUpForm.controls.password.errors != null && signUpForm.controls.password.touched">Password length must be greater than 8.</mat-error>
      </mat-form-field>
<br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!signUpForm.valid || isBtnClicked || isSignedUp">
          <mat-icon *ngIf="!isSigningUp && !isSignedUp">arrow_right_alt</mat-icon>
          <mat-spinner diameter="20" *ngIf="isSigningUp"></mat-spinner>
          <mat-icon *ngIf="isSignedUp && isBtnClicked" aria-hidden="true">check</mat-icon>
          <span *ngIf="!isSigningUp && !isSignedUp">Sign up</span>
      </button>
      <br>
      <br>

  </form>

  <button mat-raised-button color="primary" (click)="onSignUpWithGoogle()" style="margin-bottom: 25px;">
      <mat-icon>google</mat-icon>
      <span class="google-btn-text">Sign up with Google</span>
  </button>

  <mat-error class="unknown-error-text" *ngIf="errorObj.signUp.unknown != null">{{errorObj.signUp.unknown}}</mat-error>

  <p class="mobile-only">Have an account? <a [routerLink]="['/login']">Log in</a></p>

</main>
