<div class="home-container">

  <div class="intro">
    <h1>Welcome to the Meal Categories</h1>
    <p>Explore a wide variety of meal categories from around the world.</p>
  </div>

  <div class="categories-grid">
    <mat-card *ngFor="let category of categories">
      <mat-card-header>
        <mat-card-title>{{ category.strCategory }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="category.strCategoryThumb" [alt]="category.strCategory" />
    </mat-card>
  </div>
</div>
