<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-column">
                <h3>Location</h3>
                <p>CALAIS 61200</p>
            </div>

            <div class="col-md-6 footer-column">
                <h3>Contact</h3>
                <p>+33 7 57 45 13 45</p>
            </div>
        </div>
        <hr style="margin-top: 60px;">
    </div>
    <div class="text-center" style="margin-top: 60px;">
        <p>
            Made with <i class="icon ion-heart"></i> by EILCO STUDENTS
        </p>
    </div>
</footer>
